* {
  margin: 0;
  margin: 0;
  box-sizing: 0;
}
a {
  text-decoration: none;
}
#navbar-section {
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
}
#NavbarToggleBtn ul li a {
  color: white;
}
#name {
  font-weight: bold;
  margin-left: 10px;
}
.NameHeading {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}
#about-info,
#skill-section,
#work-section,
#contact-sec {
  color: white;
  background-color: rgb(3, 7, 18);
  padding: 96px 80px;
}

#about-info {
  justify-content: center;
  display: flex;
}

#profil-picture img {
  width: 280px;
  height: 320px;
}
#profil-picture img {
  box-shadow: 25px 25px #565656;
}
#about-me,
#experience-sec,
#Testimonials {
  color: white;
  background-color: rgb(17, 24, 39);
  padding: 96px 80px;
}
#main-heading {
  color: white;
  background-color: rgb(55, 65, 81);
  width: 105px;
  height: 28px;
  text-align: center;
}
#about-mePic img {
  box-shadow: -25px 25px #565656;
  width: 400px;
  height: 380px;
}

/* Skill */
.skill-logo {
  width: 100px;
  height: 120px;
  text-align: center;
  pad: 10px;
  box-shadow: 2px 2px 10px gray;
  border-radius: 10px;
}
#demo div:hover {
  border: 2px solid red;
  margin: 1px;
}
.skill-logo img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.skill-logo p {
  font-size: 18px;
  font-weight: 400;
}
.exp-slots {
  background-color: rgb(31, 41, 55);
  border-radius: 4px;
}
.title {
  color: #14a800;
  font-weight: bold;
  font-size: 22px;
}
.exp-title {
  font-size: 20px;
  font-weight: 600;
}
#project-slots {
  padding: 48px;
  background-color: rgb(31, 41, 55);
  border-radius: 5px;
}

#project-slots div {
  padding: 8px;
  background-color: rgb(31, 41, 55);
  border-radius: 5px;
}
.project-picture {
  width: 576;
  height: 480;
}
.project-techonolgy {
  width: 91px;
  height: 35px;
  font-size: 14;
  color: white;
  background-color: rgb(55, 65, 81);
  text-align: center;
}
.project-detail p {
  margin: 0;
  padding: 0;
}
.project-title {
  font-size: 20px;
  font-weight: 600;
}
.avatar-slots img {
  display: flex;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.avatar-slots {
  color: white;
  background-color: rgb(33, 41, 55);
  border-radius: 8px;
}
.avatar-name {
  font-size: 20px;
  font-weight: 600;
}
.contact-us {
  font-size: 36px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.contact-us a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.contact-us img {
  width: 26px;
  height: 26px;
  margin-top: 20px;
  margin-left: 5px;
}
.contact-title {
  font-size: 20px;
  font-weight: 400;
}
#footer {
  color: white;
  background-color: rgb(17, 24, 39);
  padding: 20px 5px;
  justify-content: center;
  display: flex;
}

#footer p {
  display: flex;
  justify-content: center;
}
.social-links {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1032px) {
  #about-me {
    padding: 32px 5px;
    justify-content: center;
  }
  #about-mePic {
    margin: auto;
    width: 300px;
  }
  #about-mePic img {
    width: 100%;
    height: auto;
  }
}

/* Media Quary responsiveness */
@media screen and (max-width: 990px) {
  #ButtonWcv {
    display: block;
  }
  .btnCV {
    margin-top: 15px;
    width: 100%;
    height: 36px;
    border-radius: 15px;
    justify-content: center;
  }
  #ButtonWcv img {
    display: flex;
    justify-content: end;
  }
  .NameHeading {
    font-size: 36px;
  }
  #about-info p {
    font-size: 16px;
    display: flex;
  }
  #about-me {
    padding: 32px 5px;
    justify-content: center;
  }

  #about-description {
    margin-top: 35px;
  }
  #about-mePic img {
    width: 100%;
    height: auto;
    box-shadow: -15px 15px #565656;
  }
  #about-mePic {
    box-shadow: 20px 15px #565656;
  }

  #profile-main-div {
    width: 218px;
    height: 325px;
  }
  #profil-picture img {
    box-shadow: 13px 15px #565656;
  }
  #profil-picture {
    box-shadow: -13px 15px #565656;
  }
  #experience-sec {
    padding: 10px 2px;
    align-content: center;
  }
  .exp-title {
    font-size: 18px;
  }
  .detail-slots {
    font-size: 15px;
    align-items: center;
  }
  .title {
    font-size: 19px;
  }
  .project-picture {
    width: 343px;
    height: auto;
    margin: auto;
  }
  .project-detail p {
    margin: 0;
    padding: 0;
  }
  .project-picture img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .project-title {
    font-size: 18px;
    font-weight: 600;
  }
  #project-slots {
    padding: 10px;
  }
  #Testimonials,
  #work-section,
  #experience-sec,
  #skill-section,
  #about-me,
  #about-info,
  #contact-sec {
    padding: 32px 10px;
  }

  .contact-us {
    font-size: 18px;
    font-weight: 600;
  }
  .contact-us img {
    margin-top: 12px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  #ButtonWcv {
    display: block;
  }
  .btnCV {
    margin-top: 15px;
    width: 350px;
    height: 36px;
    border-radius: 15px;
    justify-content: center;
  }
  #ButtonWcv img {
    display: flex;
    justify-content: end;
  }
  .NameHeading {
    font-size: 30px;
  }
  #about-info {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
  }
  #about-me {
    justify-content: center;
  }
  #about-mePic img {
    width: 100%;
    height: auto;
  }
  #about-description {
    margin-top: 35px;
  }
  #about-info p {
    font-size: 15px;
  }
  #profil-picture img {
    width: 100%;
    height: auto;
    box-shadow: 13px 15px #565656;
  }
  #about-main-section {
    margin: 0;
    justify-content: center;
  }
  #profil-picture {
    box-shadow: -13px 15px #565656;
  }
  #profile-main-div {
    width: 250px;
    height: 325px;
  }
  #experience-sec {
    align-content: center;
  }
  .exp-title {
    font-size: 18px;
  }
  .detail-slots {
    font-size: 15px;
    align-items: center;
  }
  .title {
    font-size: 19px;
  }
  .project-picture {
    width: 100%;
    height: auto;
  }
  .project-detail p {
    margin: 0;
    padding: 0;
  }
  .project-picture img {
    width: 100%;
    height: auto;
  }
  .project-title {
    font-size: 18px;
    font-weight: 600;
  }
  #project-slots {
    padding: 10px;
  }
  #Testimonials,
  #work-section,
  #experience-sec,
  #skill-section,
  #about-me,
  #about-info,
  #contact-sec {
    padding: 32px 10px;
  }
  .contact-us {
    font-size: 18px;
    font-weight: 600;
  }
  .contact-us img {
    margin-top: 12px;
    margin-left: 5px;
  }
}
